# Created by venv; see https://docs.python.org/3/library/venv.html
# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# If using Django collectstatic
staticfiles/
static/
static_cdn/

# Environment variables
.env
.env.*

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Coverage and test reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Pycharm project settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
tmp/
temp/

